@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "MainTitle";
    src: url("/fonts/main-title.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-raleway: "Raleway", sans-serif;
    --font-cormorant: "Cormorant", serif;
    --font-didot: "GFS Didot", serif;
    --font-main-title: "MainTitle", serif;
    --font-montserrat: "Montserrat", sans-serif;

    --tracking-raleway: 0.1em;
    --tracking-cormorant: 0em;
    --tracking-didot: 0.02em;
    --tracking-montserrat-title: 0.16em;

    --color-slate: #989FAC;
    --color-cream: #F6F1E7;
}